/* Smartphones (portrait and landscape) ----------- */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}
/* Smartphones (landscape) ----------- */

@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */

@media only screen
and (max-width : 500px) {
/* Styles */
}
/* iPads (portrait and landscape) ----------- */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* Styles */

}

/* iPads (portrait) ----------- */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */

@media only screen
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */

@media only screen
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */

@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

@media (min-width: 600px) {

}

@media (query) {
  max-width: 
} 



body {
	/*background-image: url("https://images.unsplash.com/photo-1446769777318-adcf44420d9c?fit=crop&fm=jpg&h=775&ixlib=rb-0.3.5&q=80&w=1600");*/
	
	background-attachment: fixed;
	background-repeat: no-repeat;
	 background-position: center center;
	background-size: 100%;
	background-color: #252243;
	width: 100%;
	height: 100%;
	font-family: 'Slabo 27px', serif;
	position: relative;

}

input {
	
	background-color: transparent;
	border-style: solid;
	border-width: 0px 0px 3px 0px;
	border-color: white;
	color: white;
	height: 100px;
	width: 500px; 
	position: relative;
	opacity: .4;
	top: 50%;
    left: 50%;
    margin-right: -50%;
    font-size: 50px;
    font-family: 'Slabo 27px', serif;
    transform: translate(-50%, -50%) }
    

}

.child{
	margin: 20px 0 0 0;
	font-size: 50px;
	color: #ECF0F1;

	position: relative;

/*	top: 50%;
	transform: 			translateY(-50%);*/
}

.thankful-script {
	color: #ECF0F1;
	font-size: 80px;

}
/*Typed JS*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}


