body {
	background-color: #252243;
	font-family: 'Slabo 27px', serif;
	position: relative;

}

.child{
	margin: 200px 0 0 0;
	font-size: 50px;
	color: #ECF0F1;
	height: 300px;
	width: 1000px;
	position: relative;
/*	top: 50%;
	transform: 			translateY(-50%);*/
}

/*Typed JS*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

